<template>
    <div>
      <Sidebar />
      <HelpComponent />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import HelpComponent from './HelpComponent.vue';
  
  export default {
    components: {
      Sidebar,
      HelpComponent
    }
  }
  </script>
  