<template>
  <div class="lab_work_05">
    <div class="faq">
      <h1>Frequently Asked Questions (FAQ)</h1>
      <h2 class="category_header">Fractals</h2>
      <ul>
        <li>
          <strong class="question">Q: What is a fractal?</strong><br>
          <strong>A: </strong>In mathematics, a fractal is a geometric shape containing detailed structure at arbitrarily small scales, usually having a fractal dimension strictly exceeding the topological dimension.
        </li>
        <li>
          <strong class="question">Q: How are fractals used in real-world applications?</strong><br>
          <strong>A: </strong>Fractals find applications in various fields, such as antennas design (e.g., Vicsek fractal in cellular phones) and generating visually appealing computer graphics.
        </li>
        <li>
          <strong class="question">Q: What are most common fractals called?</strong><br>
          <strong>A: </strong>The most common fractals include the Mandelbrot set, Wiecek's fractal, and Newton's fractal.
        </li>
      </ul>
      <h2 class="category_header">Color Models</h2>
      <ul>
        <li>
          <strong class="question">Q: What is a color model?</strong><br>
          <strong>A: </strong>A color model is an abstract mathematical model describing the way colors can be represented as tuples of numbers, typically as three or four values or color components.
        </li>
        <li>
          <strong class="question">Q: What are the primary color models used in digital graphics?</strong><br>
          <strong>A: </strong>Common color models include RGB (Red, Green, Blue), CMYK (Cyan, Magenta, Yellow, Black), and HSL/HSV (Hue, Saturation, Lightness/Value).
        </li>
        <li>
          <strong class="question">Q: How does the RGB color model work?</strong><br>
          <strong>A: </strong>RGB is an additive color model where red, green, and blue light are combined to produce a broad array of colors.
        </li>
        <li>
          <strong class="question">Q: In which industries is the CMYK color model commonly used?</strong><br>
          <strong>A: </strong>CMYK is widely used in color printing, including applications like magazine printing and packaging.
        </li>
      </ul>
      <h2 class="category_header">Affine Transformations</h2>
      <ul>
        <li>
          <strong class="question">Q: What are affine transformations?</strong><br>
          <strong>A: </strong>In computer graphics and geometry, affine transformations include translation, rotation, scaling, and shearing, and they are represented as matrices to manipulate and transform objects in a two(three)-dimensional space.
        </li>
        <li>
          <strong class="question">Q: How are affine transformations used in computer graphics?</strong><br>
          <strong>A: </strong>Affine transformations are fundamental in computer graphics for tasks like scaling, rotation, translation, and shearing.
        </li>
        
      </ul>
    </div>
  </div>
</template>

<style scoped>
.lab_work_05 {
  margin-left: 15rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE5FB;
  font-family: "Poppins", sans-serif;
}

.faq {
  width: 100%;
  max-width: 800px;
  padding-top: 0px;
  padding: 10px 50px 10px 50px;
  background-color: #FFD0F8;
  border-radius: 10px;
}

h1{
  color: #6C63FF;
  font-size: 30px;
}

h2 {
  font-size: 22px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  font-size: 16px;
}

.question{
  color:#6C63FF;
  font-style: italic;

}
</style>
