<template>
  <div class="lab_work01">
    <div class="work_map_vicsek" ref="work_map_vicsek">
      <div class="saturation_of_yellow_slider">
        <p class="saturation_yellow_slider_text">Yellow Saturation: {{ saturationValue }}</p>
       <input type="range" v-model="saturationValue" class="saturation_yellow_slider" 
        min="0" max="100" step="1">
      </div>
      <div class="lightness_of_yellow_slider">
        <p class="lightness_yellow_slider_text">Yellow Lightness: {{ lightnessValue }}</p>
       <input type="range" v-model="lightnessValue" class="lightness_yellow_slider" 
        min="0" max="100" step="1">
      </div>
        <div class="HSL">
          <p class = 'textH'> H</p>
          <p class = 'textS'> S</p>          
          <p class = 'textL'> L</p>
          <input v-model="HSLoutputH" class = 'HSLoutputH' @change="changeSelectedPixelColorHSL"> 
          <input v-model="HSLoutputS" class = 'HSLoutputS' @change="changeSelectedPixelColorHSL"> 
          <input v-model="HSLoutputL" class = 'HSLoutputL' @change="changeSelectedPixelColorHSL"> 
        </div>
        <img class = "colorpicker" src="../assets/images/mainpage_icons/ColorPicker_Icon.png" @click="selectColorPicker" ref="colorpicker">
        <div class="CMYK">
          <p class = 'textC'> C</p>
          <p class = 'textM'> M</p>          
          <p class = 'textY'> Y</p>
          <p class = 'textK'> K</p>
          <input v-model="CMYKoutputC" class = 'CMYKoutputC' @change="changeSelectedPixelColorCMYK" > 
          <input v-model="CMYKoutputM" class = 'CMYKoutputM' @change="changeSelectedPixelColorCMYK"  > 
          <input v-model="CMYKoutputY" class = 'CMYKoutputY'  @change="changeSelectedPixelColorCMYK" > 
          <input v-model="CMYKoutputK" class = 'CMYKoutputK' @change="changeSelectedPixelColorCMYK"  > 
        </div>
        <button class = 'drawbutton' @click="getYellowImage(60, 70)"
          title="Make the picture yellow"> 
          Apply Changes</button>
        <div class="display">
          <canvas ref="regular_canvas" width="450" height="450" @click="getColorInfoFromCanvas"></canvas>
          <img :src="imgSrc" ref="loadedImage" style="display: none;">
        </div>
        <button class = 'loadbutton' @click="loadImage"> Load</button>
        <button class = 'savebutton' @click="saveCanvasImage(this.$refs.regular_canvas)"> Save</button>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  data()
  {
    return {
      saturationValue: 0,
      lightnessValue: 0,
      imgSrc: '', 
      HSLoutputH: 0,
      HSLoutputS: 0,
      HSLoutputL: 0,
      CMYKoutputC: 0,
      CMYKoutputM: 0,
      CMYKoutputY: 0,
      CMYKoutputK: 0,
      colorPickerSelected: false,
      selectedPixel: {
      x: 0, 
      y: 0,
      hslError: '',
    },
    }
  },
  methods:{
    /* 
     * Function that is responsible for the ability to select pixel parameters from the uploaded photo
     */
    selectColorPicker() {
      if(this.colorPickerSelected){
        this.colorPickerSelected = false; 
        this.$refs.colorpicker.style.background = '#EDC8FF'; 
      } 
      else{
        this.colorPickerSelected = true;
        this.$refs.colorpicker.style.background = '#c653ff'; 
      }
    },
    /* 
     * Function to upload a photo to the program
     */
    loadImage() {
      //Creating an input element for uploading files
      const inputElement = document.createElement("input");
      inputElement.type = "file";
      inputElement.accept = "image/*";
      inputElement.style.display = "none";
      document.body.appendChild(inputElement);
      //Adding a "change" event to handle file selection
      inputElement.addEventListener("change", (event) => {
        //Getting the selected file
        const selectedFile = event.target.files[0];
        //Перевірка, чи файл обраний
        if (selectedFile) {
          //Creating the URL for the image
          const imageUrl = URL.createObjectURL(selectedFile);
          //Saving the URL of the selected photo to the variable imgSrc
          this.imgSrc = imageUrl; 
          //Getting context from canvas
          const canvas = this.$refs.regular_canvas;
          const context = canvas.getContext("2d");
          //Create an image object and set its URL
          const img = new Image();
          img.src = imageUrl;
          //Image load event handler
          img.onload = () => {
            //Clearing canvas
            context.clearRect(0, 0, canvas.width, canvas.height);
            //Adding the image to the canvas
            context.drawImage(img, 0, 0, canvas.width, canvas.height);
          };
          inputElement.remove();
        }
      });
      inputElement.click();
    },
    /* 
     * Function to change lightness and saturation of yellow on image based on slider option
     */
    getYellowImage() {
      //Getting context from canvas
      const canvas = this.$refs.regular_canvas;
      let context = canvas.getContext('2d');
      //Clearing canvas
      context.clearRect(0, 0, canvas.width, canvas.height);
      //Copying the loaded image to the canvas
      context.drawImage(this.$refs.loadedImage, 0, 0, canvas.width, canvas.height);
      //Retrieving the image data from the context
      const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
      //Iterate over each pixel of the image
      for (let i = 0; i < imageData.data.length; i += 4) {
        //Getting values of RGB color channels
        const r = imageData.data[i];
        const g = imageData.data[i + 1];
        const b = imageData.data[i + 2];
        //RGB to HSL conversion
        const [h, s, l] = this.rgbToHsl(r, g, b);
        //Checking if the pixel is in the yellow tone range
        if (h >= 50 && h <= 65) {
          //Changing the brightness value depending on the user's input
          const newL = Math.max(0, Math.min(100, l + (this.lightnessValue - 50)));
          //Converting HSL back to RGB
          const [newR, newG, newB] = this.hslToRgb(h, this.saturationValue, newL);
          //Applying the new color values to the pixel
          imageData.data[i] = newR;
          imageData.data[i + 1] = newG;
          imageData.data[i + 2] = newB;
        }
      }
      //Setting new image data to canvas
      context.putImageData(imageData, 0, 0);
    },
    /* 
     * Function to download image to your computer
     */
    saveCanvasImage(canvas) {
      //Creating PNG image URL
      const dataURL = canvas.toDataURL('image/png');
      //Creating an anchor element to load
      const a = document.createElement('a');
      a.href = dataURL;
      a.download = 'image.png';
      //Triggering the click event to load the image
      a.click();
    },
    /* 
     * Function to convert RGB to HSL
     */
    rgbToHsl(r, g, b) {
      //Converting of RGB values to range 0-1
      const R = r / 255;
      const G = g / 255;
      const B = b / 255;
      //Finding the minimum and maximum values
      const min = Math.min(R, G, B);
      const max = Math.max(R, G, B);
      //Calculating of parameter L
      const L = (max + min) / 2;
      //Initializing variables for Saturation and Hue
      let S = 0;
      let H = 0;
      //Checking whether there is saturation
      if (min !== max) {
        //Saturation calculation
        S = L <= 0.5 ? (max - min) / (max + min) : (max - min) / (2 - max - min);
        //Calculation of Hue depending on which color channel is the maximum
        switch (max) {
          case R:
            H = (G - B) / (max - min);
            break;
          case G:
            H = 2 + (B - R) / (max - min);
            break;
          case B:
            H = 4 + (R - G) / (max - min);
            break;
        }
        //Conversion of Hue to degrees
        H *= 60;
        //Ensuring that Hue is a positive angle
        if (H < 0) {
          H += 360;
        }
      }
      return [Math.round(H), Math.round(S * 100), Math.round(L * 100)];
    },
    /* 
     * Function to convert HSL to RGB 
     */
    hslToRgb(H, S, L) {
      H /= 360; //Conversion of Hue to range 0-1
      S /= 100; //Saturation conversion to range 0-1
      L /= 100; //Conversion of Luminosity to range 0-1
      let temporary_1, temporary_2;
      let R, G, B;
      if (S === 0) {
        //If there is no saturation, then it is a shade of gray
        R = G = B = L;
      } else {
        //Calculation of temporary values
        temporary_1 = L < 0.5 ? L * (1.0 + S) : L + S - L * S;
        temporary_2 = 2.0 * L - temporary_1;
        const R_temp = H + 1/3;
        const G_temp = H;
        const B_temp = H - 1/3;
        //Converting Hue to RGB
        R = this.hueToRgb(temporary_1, temporary_2, R_temp);
        G = this.hueToRgb(temporary_1, temporary_2, G_temp);
        B = this.hueToRgb(temporary_1, temporary_2, B_temp);
      }
      //Converting to 8-bit values
      R = Math.round(R * 255);
      G = Math.round(G * 255);
      B = Math.round(B * 255);
      return [R, G, B];
    },
    /* 
     * Function to convert hue (H) to RGB color component
     */
    hueToRgb(temporary_1, temporary_2, temporary_H) {
      if (temporary_H < 0) {
        temporary_H += 1;
      }
      if (temporary_H > 1) {
        temporary_H -= 1;
      }
      if (6 * temporary_H < 1) {
        return temporary_2 + (temporary_1 - temporary_2) * 6 * temporary_H;
      } else if (2 * temporary_H < 1) {
        return temporary_1;
      } else if (3 * temporary_H < 2) {
        return temporary_2 + (temporary_1 - temporary_2) * (0.666 - temporary_H) * 6;
      }
      return temporary_2;
    },
    /* 
     * Function to convert RGB to CMYK 
     */
    rgbToCmyk(r, g, b) {
      //Ensuring that the RGB value is in the range [0, 255]
      r = Math.min(255, Math.max(0, r));
      g = Math.min(255, Math.max(0, g));
      b = Math.min(255, Math.max(0, b));
      //Converting RGB values to range [0, 1]
      const rPrime = r / 255;
      const gPrime = g / 255;
      const bPrime = b / 255;
      //Finding the maximum value among RGB components
      const max = Math.max(rPrime, gPrime, bPrime);
      //Calculating key value (K)
      const k = 1 - max;
      //Handle the case when K = 1 (black)
      if (k === 1) {
        return [0, 0, 0, 1];
      }
      //Calculating C, M and Y values
      const c = (1 - rPrime - k) / (1 - k);
      const m = (1 - gPrime - k) / (1 - k);
      const y = (1 - bPrime - k) / (1 - k);
      //Ensuring that CMY values are in the range [0, 1]
      const cPrime = Math.min(1, Math.max(0, c));
      const mPrime = Math.min(1, Math.max(0, m));
      const yPrime = Math.min(1, Math.max(0, y));
      return [parseInt(cPrime * 100), parseInt(mPrime * 100), parseInt(yPrime * 100), parseInt(k * 100)];
    },
    /* 
     * Function to test transformations 
     */
    testModelsTransformations(){
      console.log("Тестування моделей перетворень: RGB -> HSL та HSL -> RGB");
      const [R, G, B] = [215, 30, 58];
      console.log(`Початковий RGB: R=${R}, G=${G}, B=${B}`)
      const [H, S, L] = this.rgbToHsl(R, G, B);
      console.log(`HSL: Відтінок=${H}°, Насиченість=${S}%, Люмінасція=${L}%`);
      const [newR, newG, newB] = this.hslToRgb(H, S, L);
      console.log(`Результат RGB: R=${newR}, G=${newG}, B=${newB}`);
    },
    /* 
     * Function to get color parameters of selected pixel   
     */
    getColorInfoFromCanvas(event) {
      if(this.colorPickerSelected){
        const canvas = this.$refs.regular_canvas;
        const context = canvas.getContext('2d');
        //Getting the coordinates of the mouse on the canvas
        this.selectedPixel.x = event.offsetX;
        this.selectedPixel.y = event.offsetY;
        //Getting pixel colors in RGB format
        const pixelData = context.getImageData(this.selectedPixel.x, this.selectedPixel.y, 1, 1).data;
        const r = pixelData[0];
        const g = pixelData[1];
        const b = pixelData[2];
        //Converting of colors to HSL and CMYK
        const [h, s, l] = this.rgbToHsl(r, g, b);
        const [c, m, y, k] = this.rgbToCmyk(r, g, b);
        //Output HSL and CMYK values
        this.HSLoutputH = h;
        this.HSLoutputS = s;
        this.HSLoutputL = l;

        this.CMYKoutputC = c;
        this.CMYKoutputM = m;
        this.CMYKoutputY = y;
        this.CMYKoutputK = k;
      }
    },
    /* 
     * Function to change color parameters of selected pixel using CMYK
     */
    changeSelectedPixelColorCMYK(event) {
      const canvas = this.$refs.regular_canvas;
      const context = canvas.getContext('2d');
      //Getting the color data for the selected pixel
      const imageData = context.getImageData(this.selectedPixel.x, this.selectedPixel.y, 1, 1);
      const pixelData = imageData.data;
      //Obtaining the values of C, M, Y, K from the entered data
      const c = this.CMYKoutputC;
      const m = this.CMYKoutputM;
      const y = this.CMYKoutputY;
      const k = this.CMYKoutputK;
      //Checking for the correctness of the entered values
      if (isNaN(c) || isNaN(m) || isNaN(y) || isNaN(k) ||
          c < 0 || c > 100 || m < 0 || m > 100 || y < 0 || y > 100 || k < 0 || k > 100) {
        Swal.fire({
          title: 'Error!',
          text: 'Incorrect values entered for CMYK. Please enter integer values in the range [0, 100].',
          icon: 'error',
          confirmButtonText: 'Close'
        });
        return;
      }
      //Applying changes to the selected pixel in the image
      const r = 255 * (1 - c / 100) * (1 - k / 100);
      const g = 255 * (1 - m / 100) * (1 - k / 100);
      const b = 255 * (1 - y / 100) * (1 - k / 100);
      pixelData[0] = r;
      pixelData[1] = g;
      pixelData[2] = b;
      //Updating image on canvas with new values
      context.putImageData(imageData, this.selectedPixel.x, this.selectedPixel.y);
    },
    /* 
     * Function to change color parameters of selected pixel using HSL
     */
    changeSelectedPixelColorHSL(event) {
      const canvas = this.$refs.regular_canvas;
      const context = canvas.getContext('2d');
      //Getting the color data for the selected pixel
      const imageData = context.getImageData(this.selectedPixel.x, this.selectedPixel.y, 1, 1);
      const pixelData = imageData.data;
      //Obtaining the values of C, M, Y, K from the entered data
      const h = parseInt(this.HSLoutputH);
      const s = parseInt(this.HSLoutputS);
      const l = parseInt(this.HSLoutputL);
      if (isNaN(h) || isNaN(s) || isNaN(l) || h < 0 || h > 360 || s < 0 || s > 100 || l < 0 || l > 100) {
        //Checking for invalid values and setting an error message
        Swal.fire({
          title: 'Error!',
          text: 'Incorrect values entered for HSL. Please enter an integer value in the range [0, 360] for H; '
                + '[0, 100] for S and L.',
          icon: 'error',
          confirmButtonText: 'Close'
        });
        return;
      }
      const [r, g, b] = this.hslToRgb(h, s, l);
      //Applying changes to the selected pixel in the image
      pixelData[0] = r;
      pixelData[1] = g;
      pixelData[2] = b;
      //Updating image on canvas with new values
      context.putImageData(imageData, this.selectedPixel.x, this.selectedPixel.y);
    }
  }
}
</script>
  <style scoped>
.lab_work01{
    margin-left: 15rem;
    height: 100vh;
    flex-direction: column;
    place-items: center;
    background-color: #FFE5FB;
  }
  .work_map_vicsek{
    background-color: #FFD0F8;;
    width: 1000px;
    height: 670px;
    border-radius: 18px;
    top: 50px;
    left: 100px;
    position: relative;
  }
  .work_map_vicsek .saturation_yellow_slider {
  position: relative;
  appearance: none;
  width: 300px;
  height: 30px;
  background: #c653ff; 
  border-color: #7000FF;
  border-radius: 20px;
  padding: 0;
  top: 70px;
  left: 50px;
  }
  .work_map_vicsek .saturation_yellow_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: #7000FF;
    
}
.saturation_of_yellow_slider{
  background-color: #EDC8FF;
  position: absolute;
  width: 400px;
  left: 40px;
  top:40px;
  height: 120px;
  border-radius: 10px;

}
.saturation_yellow_slider_text{
  top: 15px;
  width: 100px;
  text-align: center;  
  left: 80px;
}

.work_map_vicsek .lightness_yellow_slider {
  position: relative;
  appearance: none;
  width: 300px;
  height: 30px;
  background: #c653ff; 
  border-color: #7000FF;
  border-radius: 20px;
  padding: 0;
  top: 70px;
  left: 50px;
  }
  .work_map_vicsek .lightness_yellow_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: #7000FF;
    
}
.lightness_of_yellow_slider{
  background-color: #EDC8FF;
  position: absolute;
  width: 400px;
  left: 40px;
  top:170px;
  height: 120px;
  border-radius: 10px;

}
.lightness_yellow_slider_text{
  top: 15px;
  width: 100px;
  text-align: center;  
  left: 80px;
}
.switcher{
    position: absolute;
    top: 180px;
    left: 100px;
  }
.switch {
  position: absolute;
  display: inline-block;
  width: 270px;
  height: 100px;
}
.work_map_vicsek .CMYKtext{
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 30px;
  left: 170px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.5s;
  }
  .work_map_vicsek  .HSLtext{
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 30px;
  left: 50px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.5s;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;  
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EDB2FC;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "HSL";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 90px;
  width: 130px;
  top: 5px;
  left: 5px;
  background-color: #7000FF;
  -webkit-transition: .4s;
  transition: .8s;
  z-index: 1; 
}

input:checked + .slider:before  {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
  content: "CMYK";

}

.switch input:checked + .newtontext {
    color: red; 
}
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 18px;
}
.fractal_options_window {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 400px;
    height: 130px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .work_map_vicsek p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 240px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
  }

  .work_map_vicsek input {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    height: 30px;
    width: 50px;
    padding: 10px;
    top: 0;
    left: 270px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .work_map_vicsek button {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 280px;
    width: 400px;
    left: 40px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #7000FF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }

  .work_map_vicsek button.loadbutton {
    background-color: #7000FF;
    top: 490px;
    left: 525px;
  }
  .work_map_vicsek button.savebutton {
    background-color: #FF5722;
    top: 560px;
    left: 525px;
  }
  .display {
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px; 
    display: flex;
    position: relative;    
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    left: 500px;
    top: 40px;

  }
  .HSL{
    top: 370px;
    left: 40px;
    width: 245px;
    height: 100px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
  }
  .HSL .textH{
    position: absolute;
    left: 40px;
  }
  .HSL .textS{
    position: absolute;
    left: 120px;
    
  }
  .HSL .textL{
    position: absolute;
    left: 200px;
  }
  .HSL .HSLoutputH{
    position: absolute;
    left: 15px;
    top: 60px;
    width: 50px;
  }
  .HSL .HSLoutputS{
    position: absolute;
    left: 95px;
    top: 60px;
    width: 50px;
  }
  .HSL .HSLoutputL{
    position: absolute;
    left: 175px;
    top: 60px;
    width: 50px;
  }
  .colorpicker{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 370px;
    left: 320px;
    cursor: pointer;
    background: #EDC8FF;
    padding: 10px;
    border-radius: 10px;
  }
  .CMYK{
    top: 510px;
    left: 35px;
    width: 385px;
    height: 100px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
  }
  .CMYK .textC{
    position: absolute;
    left: 70px;
  }
  .CMYK .textM{
    position: absolute;
    left: 150px;
    
  }
  .CMYK .textY{
    position: absolute;
    left: 230px;
  }
  .CMYK .textK{
    position: absolute;
    left: 310px;
  }
  .CMYK .CMYKoutputC{
    position: absolute;
    left: 45px;
    top: 60px;
    width: 50px;
  }
  .CMYK .CMYKoutputM{
    position: absolute;
    left: 125px;
    top: 60px;
    width: 50px;
  }
  .CMYK .CMYKoutputY{
    position: absolute;
    left: 205px;
    top: 60px;
    width: 50px;
  }
  .CMYK .CMYKoutputK{
    position: absolute;
    left: 285px;
    top: 60px;
    width: 50px;
  }

</style>