<template>
  <div class="lab_work01">
    <div class="switcher">
      <label class="switch">
        <input type="checkbox" @change="toggleColor">
        <span class="slider round"></span>
        <p class="viscektext" ref="viscektext">Vicsek</p>
        <p class="newtontext" ref="newtontext">Newton</p>
      </label>
    </div>
    <div class="work_map_vicsek" ref="work_map_vicsek">
        <div class="iterations">
          <p class = 'iterationstext'>Number of iterations</p>
          <input v-model="iterations" class = 'iterationsinput' type="number" min="0" max="10" @input="checkIterations" > 
        </div>
        <div class="squares">
          <p class = 'squarestext'>Size of squares</p>
          <input v-model="squareSize" class = 'squaresinput' type="number" min="10" max="450" @input="checkSquares"> 
        </div>
      <button @click="drawFractal" class = 'drawbutton'> Draw</button>
      <button class = 'savebutton' 
      @click="saveFractal(this.$refs.fractalCanvasVicsek, 'VicsekFractal.png')"> Save</button>
      <div class="fractal-display">
        <canvas ref="fractalCanvasVicsek" width="450" height="450"></canvas>
      </div>
    </div>
        <div class="work_map_newton" ref="work_map_newton">
           
          <div class="color-scheme-switcher">
            <div class="color-scheme-header">
            <p class="colorschemeheader">Color Scheme</p>
            </div>
            <div class="color-scheme-option1">
              <p class="color-scheme-text">Square</p>
              <input type="radio" name="colorScheme" value="scheme1" v-model="selectedColorScheme" >
              <span class="color-scheme-indicator"></span>
            </div>
            <div class="color-scheme-option2">
              <p class="color-scheme-text">Rectangle</p>
              <input type="radio" name="colorScheme" value="scheme2" v-model="selectedColorScheme" >
              <span class="color-scheme-indicator"></span>
            </div>
          </div>
          <div class="constant">
              <p class = 'constanttext'>Constant</p>
              <input v-model="c" class = 'constantinput' type="number"> 
            </div>
          <button @click="drawNewtonFractal(this.c)" class="drawbutton">Draw</button>
      <button class = 'savebutton' 
      @click="saveFractal(this.$refs.fractalCanvasNewton, 'NewtonFractal.png')"> Save</button>
      <div class="fractal-display">
        <canvas ref="fractalCanvasNewton" width="450" height="450"></canvas>
      </div>
    </div>
    
  </div>
</template>

<script>
import { complex_mul, complex_add, complex_sqdist, complex_pow, newtonsMethod } from "./complexfunctions";
export default {
  data()
  {
    return {
      iterations: 1,
      squareSize: 50,
      selectedColorScheme: "scheme1", 
      c: 1
    }
  },

  methods: {
    /* 
     * Method to impose a limit on the number of iterations
     */
    checkIterations() {
      if (this.iterations < 0) {
        this.iterations = 0;
      } else if (this.iterations > 10) {
        this.iterations = 10;
      }
    },

    /* 
     * Method to impose a limit on the number of squares for Vichek's fractal
     */
    checkSquares() {
      if (this.squareSize < 10) {
        this.squareSize = 10;
      } else if (this.squareSize > 450) {
        this.squareSize = 450;
      }
    },

    /* 
     * Method for changing the appearance of the switcher to select the appropriate fractal
     */
    toggleColor() {
      const vicsektext = this.$refs.viscektext;
      const newtontext = this.$refs.newtontext;
      const vicsekwindow = this.$refs.work_map_vicsek;
      const newtonwindow = this.$refs.work_map_newton;
      const input = document.querySelector('.switch input[type="checkbox"]');
      // If Newton's fractal is selected
      if (input.checked) {
        vicsektext.style.opacity = 1;
        newtontext.style.opacity = 0;
        vicsekwindow.style.display = 'none';
        newtonwindow.style.display = 'block';
      } else { // If Vichek's fractal is selected
        vicsektext.style.opacity = 0;
        newtontext.style.opacity = 1;
        vicsekwindow.style.display = 'block';
        newtonwindow.style.display = 'none';
      }
    },

    /* 
     * Method that draws a square using fillRect
     */
    drawSquare(ctx, x, y, size) {
      ctx.fillRect(x - size / 2, y - size / 2, size, size);
    },

    /* 
     * Method that performs the construction of Vichek's fractal on the canvas
     */ 
    drawFractal() {
      //Getting canvas
      const canvas = this.$refs.fractalCanvasVicsek;
      canvas.width = 450;
      canvas.height = 450;
      const ctx = canvas.getContext("2d");
      //Clearing the previous image
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      //Filling the canvas with white color
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      //Changing the canvas fill color to black, for further fractal construction
      ctx.fillStyle = "black";
      this.drawVicsekFractal(ctx, canvas.width / 2, canvas.height / 2, this.squareSize, this.iterations);
      
      //Calling the method to build Vichek's fractal
      const fractalDisplay = document.querySelector(".fractal-display");
      fractalDisplay.innerHTML = "";
      fractalDisplay.appendChild(canvas);
    },

    /* 
     * Method that implements the logic of constructing the Vichek's fractal
     */
    drawVicsekFractal(ctx, x, y, size, iterations) {
      //If the number of iterations = 0, we output the final form of the fractal
      if (iterations === 0) {
        this.drawSquare(ctx, x, y, size);
      } else { // If not - continue the recursive process
        const newSize = size / 3;
        const offset = newSize;

        //Drawing four diagonal squares
        this.drawVicsekFractal(ctx, x - offset, y - offset, newSize, iterations - 1); // Upper left corner
        this.drawVicsekFractal(ctx, x + offset, y - offset, newSize, iterations - 1); // Upper right corner
        this.drawVicsekFractal(ctx, x - offset, y + offset, newSize, iterations - 1); // Lower left corner
        this.drawVicsekFractal(ctx, x + offset, y + offset, newSize, iterations - 1); // Lower right corner
        
        //Drawing the central square
        this.drawVicsekFractal(ctx, x, y, newSize, iterations - 1);
      }
    },

    /* 
     * Method for constructing Newton's fractal on the canvas
     */
    drawNewtonFractal: function(c){
      //Getting canvas 
      const canvas = this.$refs.fractalCanvasNewton;
      const ctx = canvas.getContext("2d");

      let zoom = 0.5; 
      let xOffset = 0; 
      let yOffset = 0; 

      //Find f(x) and f'(x)
      const f = (x) => complex_add(complex_pow(x, [4, 0]), [c, 0]);
      const fp = (x) => complex_mul([4, 0], complex_pow(x, [3, 0]));
      const render = () => {
        //Define colors for each corner
        let color1, color2, color3, color4;
        if (this.selectedColorScheme === "scheme1") {
          color1 = "rgb(255, 0, 0)";  // 0 degrees
          color2 = "rgb(128, 255, 0)";  // 90 degrees
          color3 = "rgb(0, 255, 255)";  // 180 degrees
          color4 = "rgb(128, 0, 255)";  // 270 degrees
        } else {
          color1 = "rgb(255, 255, 0)";  // 60 degrees
          color2 = "rgb(0, 255, 0)";  // 120 degrees
          color3 = "rgb(0, 0, 255)";  // 240 degrees
          color4 = "rgb(255, 0, 255)";  // 300 degrees
        }

        //Cleaning the canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        //Generate the image by iterating over the pixels on the canvas
        for (let x = 0; x < canvas.width; x++) {
          for (let y = 0; y < canvas.height; y++) {
            //Mapping coordinates to the complex plane
            const real = (x - canvas.width / 2 + xOffset) / (canvas.height * zoom);
            const imag = (y - canvas.height / 2 + yOffset) / (canvas.height * zoom);
            const pos = [real, imag];
            
            //Using Newton's method for pixel
            const convergingRoot = newtonsMethod(f, fp, pos, 20);

            //Determine the color of pixel based on the root that the position matches
            if (complex_sqdist(convergingRoot, [0.7071, 0.7071]) <= 0.1) { // 45 degrees
              ctx.fillStyle = color1;
            } else if (complex_sqdist(convergingRoot, [-0.7071, 0.7071]) <= 0.1) { // 135 degrees
              ctx.fillStyle = color2;
            } else if (complex_sqdist(convergingRoot, [-0.7071, -0.7071]) <= 0.1) {  // 225 degrees
              ctx.fillStyle = color3;
            } else if (complex_sqdist(convergingRoot, [0.7071, -0.7071 ]) <= 0.1) { // 315 degrees
              ctx.fillStyle = color4;
            } else {
              //Make the pixel white if it doesn't match any of the given roots
              ctx.fillStyle = "rgb(255, 255, 255)";
            }
            
            //Fill the pixel
            ctx.fillRect(x, y, 1, 1);
          }
        }
      }
      
      /* 
       * Function to increase/decrease Newton's fractal scaling
       */
      function handleZoom(event) {
        if (event.deltaY > 0) {
          zoom /= 1.2; 
        } else {
          zoom *= 1.2; 
        }
        render();
      }

      /* 
       * Function for Newton's fractal scaling
       */
      function handlePan(event) {
        const sensitivity = 10;
        xOffset += (event.movementX / sensitivity) / (canvas.height * zoom);
        yOffset += (event.movementY / sensitivity) / (canvas.height * zoom);
        render();
      }

      canvas.addEventListener("wheel", handleZoom);
      canvas.addEventListener("mousedown", (event) => {
        if (event.button === 0) {
          canvas.addEventListener("mousemove", handlePan);
        }
      });
      canvas.addEventListener("mouseup", () => {
        canvas.removeEventListener("mousemove", handlePan);
      });
      render(); 
    },

    /* 
     * Method for saving the image of Newton's fractal
     */
    saveFractal(canvas, filename) {
      const dataURL = canvas.toDataURL("image/png");
      const link = document.createElement("a");
      link.href = dataURL;
      link.download = filename;
      link.click();
    },
  }
};
</script>
  <style scoped>
  .lab_work01{
    margin-left: 15rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #FFE5FB;
  }
  .switcher{
    position: relative;
    top: 20px;
  }
  .newtontext{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 25px;
  left: 115px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.5s;
  }
.viscektext{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 40px;
  top: 25px;
  left: 35px;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.5s;

}
  .switch {
  position: relative;
  display: inline-block;
  width: 270px;
  height: 100px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;  
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EDB2FC;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "Vicsek";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 90px;
  width: 130px;
  top: 5px;
  left: 5px;
  background-color: #7000FF;
  -webkit-transition: .4s;
  transition: .8s;
  z-index: 1; 
}

input:checked + .slider:before  {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
  content: "Newton";

}

.switch input:checked + .newtontext {
    color: red;
}
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 18px;
}
.fractal_options_window {
    position: absolute;
    top: 100px;
    left: 30px;
    width: 400px;
    height: 130px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .work_map_vicsek p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    height: 30px;
    width: 220px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
    left: 20px;
  }

  .work_map_vicsek input {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    height: 30px;
    width: 60px;
    padding: 10px;
    top: 0;
    left: 270px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .work_map_vicsek button {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 300px;
    width: 420px;
    left: 30px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #7000FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .work_map_vicsek button.savebutton {
    background-color: #FF5722;
    top: 360px;
  }
  .fractal-display {
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 4px;
    height: 400px; 
    position: relative;    
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    left: 500px;
    top: 70px;

  }
  .iterations{
    top: 100px;
    left: 30px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 70px;
  }
  .squares{
    top: 100px;
    left: 30px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 160px;
  }
  .work_map_vicsek{
    background-color: #FFD0F8;;
    width: 1000px;
    height: 600px;
    border-radius: 18px;
    top: 50px;
    position: relative;
  }

  .work_map_newton p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    height: 30px;
    width: 220px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
    left: 20px;
  }

  .work_map_newton input {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    height: 30px;
    width: 50px;
    padding: 10px;
    top: 0;
    left: 270px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .work_map_newton button {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 300px;
    width: 420px;
    left: 30px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #7000FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .colorschemes{
    top: 100px;
    left: 30px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 70px;
  }
  .constant{
    top: 230px;
    left: 30px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
  }
  .work_map_newton button.savebutton {
    background-color: #FF5722;
    top: 360px;

  }
  .work_map_newton{
    background-color: #FFD0F8;;
    width: 1000px;
    height: 600px;
    border-radius: 18px;
    top: 50px;
    position: relative;
    display: none;
  }
  .work_map_newton .color-scheme-switcher{
    top: 100px;
    left: 30px;
    width: 400px;
    height: 130px;
    padding: 10px;
    background: #EDC8FF; 
    border-radius: 10px;
    position: absolute;
    top: 70px;
  }
  .color-scheme-option1{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 45px;
    left: 20px;

  }
  .color-scheme-option2{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 85px;
    left: 20px;
  }
  .color-scheme-option3{
    position: absolute;
    width: 400px;
    height: 40px;
    top: 130px;
    left: 20px;
  }

  .colorschemeheader{
    top: 10px;
  }
  .work_map_newton .color-scheme-text{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #7000FF;
  }
</style>