<template>
  <div class="lab_work03">
    <div class="work_map_lab_03" ref="work_map_lab_03">
        <div class="coordinate_container" id="A_x">
          <p class = 'text'>A_x</p>
          <input v-model="A.x" class = 'input' > 
        </div>
        <div class="coordinate_container" id="A_y">
          <p class = 'text'>A_y</p>
          <input v-model="A.y" class = 'input' > 
        </div>
        <div class="coordinate_container" id="B_x">
          <p class = 'text'>B_x</p>
          <input v-model="B.x" class = 'input' > 
        </div>
        <div class="coordinate_container" id="B_y">
          <p class = 'text'>B_y</p>
          <input v-model="B.y" class = 'input'  > 
        </div>
        <div class="coordinate_container" id="C_x">
          <p class = 'text' >C_x</p>
          <input v-model="C.x" class = 'input' > 
        </div>
        <div class="coordinate_container" id="C_y">
          <p class = 'text'>C_y</p>
          <input v-model="C.y" class = 'input' @keyup.enter="drawSystemAndOriginalParallelogram"> 
        </div>
        <div class="linear_equation_container">
          <p class = 'text_header'>Linear equation</p>
          <p class = 'y_text'>y = </p>
          <input v-model="mirrorLine.a" class = 'input' id="a_input"> 
          <p class = 'x_text'>x</p>
          <p class = 'plus_text'>+</p>
          <input v-model="mirrorLine.b" class = 'input' id="b_input" @keyup.enter="checkAndDrawLine"> 
        </div>
        <button class = 'drawbutton'
        @click="performTransformation"
          title="Apply change"> 
          Apply Changes</button>
        <div class="display">
          <canvas ref="regular_canvas" width="450" height="450" ></canvas>
        </div>
        <button class = 'savebutton' @click="saveCanvasImage(this.$refs.regular_canvas)"> Save</button>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  data()
  {
    return {
      A: {x: 0, y: 1},
      B: {x: 1, y: 3},
      C: {x: 4, y: 3},
      D: {x: null, y: null},
      mirrorLine: {a: null, b: null},
      center: {x: null, y:null},
      cellSize: {width: null, height: null},
      x_range: {min: null, max: null},
      y_range: {min: null, max: null},
      parallelogram: []
    }
  },
  methods:{
    /* 
     * Method that contains check for line parameters, and calls to the functions needed to display affine transformations
     */
    performTransformation() {
      try{
        if(isNaN(this.mirrorLine.a) || isNaN(this.mirrorLine.b)){
           throw new Error("Incorrect values entered for coefficients a and b of the line. Please enter integer values for the coefficients and try again.");
        }
        this.drawSystemAndOriginalParallelogram();
        this.checkAndDrawLine();
        this.animateParallelogram();
      }
      catch(error){
        Swal.fire({
          title: 'Error!',
          text: error.message,
          icon: 'error',
          confirmButtonText: 'Close'
        });
      }
    
    },

    /* 
     * Method for storing the image displayed on the Canvas
     */
    saveCanvasImage(canvas) {
      //Create a data URL in PNG format
      const dataURL = canvas.toDataURL('image/png');

      //Create an anchor element to trigger the download
      const a = document.createElement('a');
      a.href = dataURL;
      a.download = 'image.png';

      //Programmatically trigger a click event to download the image
      a.click();
    },

    /* 
     * Method for displaying the coordinate system and the original parallelogram on the Canvas
     */
    drawSystemAndOriginalParallelogram(){
      try{
        this.calculateFourthParallelogramPoint();
        this.drawCoordinateSystem();
        this.drawParallelogram(this.parallelogram, 'blue');
      }
      catch(error){
        Swal.fire({
          title: 'Error!',
          text: error.message,
          icon: 'error',
          confirmButtonText: 'Close'
        });
      }
      
    },

    /*
     * Method to check the user-entered values of a and b and plot a straight line
    */
    checkAndDrawLine(){
        try {
          if(isNaN(this.mirrorLine.a) || isNaN(this.mirrorLine.b)){
           throw new Error("Incorrect values entered for coefficients a and b of the line. Please enter integer values for the coefficients and try again.");
          }
          this.mirrorLine.a = parseFloat(this.mirrorLine.a);
          this.mirrorLine.b = parseFloat(this.mirrorLine.b);
          this.drawLine(this.mirrorLine.a, this.mirrorLine.b);
        } catch(error){
          Swal.fire({
            title: 'Error!',
            text: error.message,
            icon: 'error',
            confirmButtonText: 'Close'
          });
        }

    },

    /*
     * Method for finding the 4th point of a parallelogram by three known points
    */
    calculateFourthParallelogramPoint(){
      //Checking for the correctness of the entered values
      if (
        isNaN(this.A.x) ||
        isNaN(this.A.y) ||
        isNaN(this.B.x) ||
        isNaN(this.B.y) ||
        isNaN(this.C.x) ||
        isNaN(this.C.y)
      ) {
        throw new Error("Incorrect values entered for the coordinates of the parallelogram vertices. "
                        + "Please enter the integer values for the coordinates of the parallelogram vertices and try again."); 
      }

      this.A.x = parseInt(this.A.x);
      this.A.y = parseInt(this.A.y);
      this.B.x = parseInt(this.B.x);
      this.B.y = parseInt(this.B.y);
      this.C.x = parseInt(this.C.x);
      this.C.y = parseInt(this.C.y);
      this.D.x = this.C.x - this.B.x + this.A.x;
      this.D.y = this.C.y - this.B.y + this.A.y;

      this.parallelogram = [
        [this.A.x, this.A.y],
        [this.B.x, this.B.y],
        [this.C.x, this.C.y],
        [this.D.x, this.D.y]
      ];
    },

    /*
     * Method for converting the usual X coordinate into the X coordinate of the created coordinate system
    */
    getCanvasXCoordinate(originalXCoordinate){
      return this.center.x + originalXCoordinate * this.cellSize.width;
    },

    /*
     * Method for converting the usual Y coordinate into the Y coordinate of the created coordinate system
     */
    getCanvasYCoordinate(originalYCoordinate){
      return this.center.y - originalYCoordinate * this.cellSize.height;
    },

    /* 
     * Method for applying affine transformations given by a matrix parameter over a given point
    */
    applyTransformationToPoint(matrix, point) {
      const homogeneousPoint = [...point, 1]; // Convert to homogeneous coordinates
      const result = this.multiplyMatrices([homogeneousPoint], matrix);
      return result[0].slice(0, 2); // Convert back to 2D coordinates
    },

    /* 
     * Method for calculating the coordinates of a mirrored parallelogram using the matrix form of affine transformations
    */
    getmirroredParallelogram(parallelogram, line) {
      //Define the transformation matrices
      //First, shift the line y=ax+b by -b -> the transformed line is y=ax
      const translateMatrixMinusB = [
          [1, 0, 0],
          [0, 1, 0],
          [0, -line.b, 1]
      ];

      //Сlockwise rotation by theta angle -> the transformed line coincides with the OX axis (y=0)
      const theta = Math.atan(line.a);
      const reversedRotateMatrix = [
          [Math.cos(theta), -Math.sin(theta), 0],
          [Math.sin(theta), Math.cos(theta), 0],
          [0, 0, 1]
      ];

      //Reflection relative to the OX axis
      const reflectMatrix = [
          [1, 0, 0],
          [0, -1, 0],
          [0, 0, 1]
      ];

      //Counterclockwise rotation by theta angle -> the transformed line returns to y=ax
      const rotateMatrix = [
          [Math.cos(theta), Math.sin(theta), 0],
          [-Math.sin(theta), Math.cos(theta), 0],
          [0, 0, 1]
      ];

      //Shift the line y=ax by b -> the transformed line is y=ax+b
      const translateMatrixPlusB = [
          [1, 0, 0],
          [0, 1, 0],
          [0, line.b, 1]
      ];

      //Combine matrices to get the overall transformation matrix
      const transformationMatrix = this.multiplyMatrices(translateMatrixMinusB, 
      this.multiplyMatrices(reversedRotateMatrix, this.multiplyMatrices(reflectMatrix, 
      this.multiplyMatrices(rotateMatrix, translateMatrixPlusB))));

      //Apply the transformation to each vertex of the parallelogram
      const mirroredParallelogram = parallelogram.map(vertex => this.applyTransformationToPoint(transformationMatrix, vertex));

      return mirroredParallelogram;
    },

    /* 
     * Method for building a mirrored parallelogram and animating the movement of parallelograms along the line y=ax+b
    */
    async animateParallelogram() {
        let originalParallelogram = [...this.parallelogram];

        //Calculate the mirrored parallelogram based on the mirror line
        let mirroredParallelogram = this.getmirroredParallelogram(this.parallelogram, this.mirrorLine);

        //Initialize values for animation
        let targetX = -this.x_range.min;
        let steps = 60;
        let step = 1;
        let stop = false; //Flag to stop the animation after completing both phases

        while (step != 0 ) {
          const interpolation = step / steps;
          
          //Update the original and mirrored parallelograms by interpolating their points based on the target X-coordinate
          this.parallelogram = originalParallelogram.map((originalPoint) => {
            const deltaX = targetX;
            const deltaY = deltaX * this.mirrorLine.a;
            const interpolatedX = originalPoint[0] + interpolation * deltaX;
            const interpolatedY = originalPoint[1] + interpolation * deltaY;
            return [interpolatedX, interpolatedY];
          });

          this.mirroredParallelogram = mirroredParallelogram.map((originalPoint) => {
            const deltaX = targetX;
            const deltaY = deltaX * this.mirrorLine.a;
            const interpolatedX = originalPoint[0] + interpolation * deltaX;
            const interpolatedY = originalPoint[1] + interpolation * deltaY;
            return [interpolatedX, interpolatedY];
          });
          
          //Redraw the coordinate system, line, and parallelograms
          this.drawCoordinateSystem();
          this.checkAndDrawLine();
          this.drawParallelogram(this.parallelogram, 'blue');
          this.drawParallelogram(this.mirroredParallelogram, 'green');
          
          //Delay for smoother animation (16 milliseconds for approximately 60 frames per second)
          await this.delay(16); 

          //Check if the current phase of animation is complete
          if (Math.abs(this.parallelogram[0][0] - targetX) < 0.1) {
            targetX = -targetX;         
            steps = 60;
            step = 1;
            if(stop) break;
            stop = true;
            originalParallelogram = [...this.parallelogram];
            mirroredParallelogram = this.getmirroredParallelogram(this.parallelogram, this.mirrorLine);
          } else {
            step++;
          }
        }
    },

    delay(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },

    /* 
     * Auxiliary Method of matrix multiplication
    */
    multiplyMatrices(a, b) {
      const rowsA = a.length;
      const colsA = a[0].length;
      const colsB = b[0].length;

      const result = new Array(rowsA);
      for (let i = 0; i < rowsA; i++) {
        result[i] = new Array(colsB).fill(0);
      }

      for (let i = 0; i < rowsA; i++) {
          for (let j = 0; j < colsB; j++) {
              for (let k = 0; k < colsA; k++) {
                  result[i][j] += a[i][k] * b[k][j];
              }
          }
      }

      return result;
    },

    /* 
     * Method for building a parallelogram of the specified color in the created coordinate system
    */
    drawParallelogram(parallelogram, color) {
      const canvas = this.$refs.regular_canvas;
      const context = canvas.getContext('2d');

      //Set the color for the parallelogram lines
      context.strokeStyle = color;
      context.lineWidth = 2;

      //Draw the parallelogram lines
      context.beginPath();
      context.moveTo(this.getCanvasXCoordinate(parallelogram[0][0]), this.getCanvasYCoordinate(parallelogram[0][1]));
      for(let i = 1; i <parallelogram.length; i++){
        context.lineTo(this.getCanvasXCoordinate(parallelogram[i][0]), this.getCanvasYCoordinate(parallelogram[i][1]));
      }
      context.closePath();
      context.stroke();
    },

    /* 
     * Method for constructing the line y=ax+b in the created coordinate system
    */
    drawLine(a, b) {
      const canvas = this.$refs.regular_canvas;
      const context = canvas.getContext('2d');

      context.strokeStyle = 'red';
      context.lineWidth = 2;

      //Calculate the coordinates for the line
      const xStart = this.x_range.min;
      const xEnd = this.x_range.max;

      //Draw the line
      context.beginPath();
      const startPoint = {x: this.center.x + xStart*this.cellSize.width, y: this.center.y - (a * xStart + b) * this.cellSize.height};
      const endPoint = {x: this.center.x + xEnd*this.cellSize.width, y: this.center.y - (a * xEnd + b) * this.cellSize.height};
      context.moveTo(startPoint.x, startPoint.y);
      context.lineTo(endPoint.x, endPoint.y);
      context.stroke();
    },

    /* 
     * Method for building a coordinate system on the canvas, taking into account the entered coordinates of the parallelogram
    */
    drawCoordinateSystem() {
      const canvas = this.$refs.regular_canvas;
      const context = canvas.getContext('2d');
      context.clearRect(0, 0, canvas.width, canvas.height);
      context.fillStyle = "white";
      context.fillRect(0, 0, canvas.width, canvas.height);
      context.fillStyle = "black";

      //Calculate min and max values
      const minX = Math.min(this.A.x, this.B.x, this.C.x, this.D.x);
      const maxX = Math.max(this.A.x, this.B.x, this.C.x, this.D.x);
      const minY = Math.min(this.A.y, this.B.y, this.C.y, this.D.y);
      const maxY = Math.max(this.A.y, this.B.y, this.C.y, this.D.y);

      const tickMinX = minX - 10;
      const tickMaxX = maxX + 10;
      const tickMinY = minY - 10;
      const tickMaxY = maxY + 10;
      [this.x_range.min, this.x_range.max] = [tickMinX, tickMaxX];
      [this.y_range.min, this.y_range.max] = [tickMinY, tickMaxY];

      //Calculate the center of the canvas
      const xTickSpacing = canvas.width / (tickMaxX - tickMinX + 1);  // +1 - for tick '0'
      const yTickSpacing = canvas.height / (tickMaxY - tickMinY + 1);

      const centerX = canvas.width / 2 - ((Math.abs(tickMaxX) - Math.abs(tickMinX))/2)*xTickSpacing;
      const centerY = canvas.height / 2 + ((Math.abs(tickMaxY) - Math.abs(tickMinY))/2)*yTickSpacing;

      [this.center.x, this.center.y] = [centerX, centerY];

      //Draw axis
      context.strokeStyle = 'black';
      context.lineWidth = 1;

      context.beginPath();
      context.moveTo(centerX, 0);
      context.lineTo(centerX, canvas.height);
      context.stroke();

      context.beginPath();
      context.moveTo(0, centerY);
      context.lineTo(canvas.width, centerY);
      context.stroke();

      //Draw ticks along X-axis
      for (let x = tickMinX; x < tickMaxX; x++) {
        const xPosition = centerX + x * xTickSpacing;
        context.beginPath();
        context.moveTo(xPosition, centerY - 5);
        context.lineTo(xPosition, centerY + 5);
        context.stroke();
        context.fillText(x.toString(), xPosition - 5, centerY + 15);
      }

      //Draw arrowhead for X-axis
      context.beginPath();
      context.moveTo(canvas.width - 10, centerY - 5);
      context.lineTo(canvas.width, centerY);
      context.lineTo(canvas.width - 10, centerY + 5);
      context.stroke();
      context.fillText('X', canvas.width - 10, centerY + 15);

      //Draw ticks along Y-axis
      for (let y = tickMinY; y < tickMaxY; y++) {
        if(y == 0){
          continue;
        }
        const yPosition = centerY - y * yTickSpacing;
        context.beginPath();
        context.moveTo(centerX - 5, yPosition);
        context.lineTo(centerX + 5, yPosition);
        context.stroke();
        context.fillText(y.toString(), centerX - 15, yPosition + 5);
      }

      //Draw arrowhead for Y-axis
      context.beginPath();
      context.moveTo(centerX - 5, 10);
      context.lineTo(centerX, 0);
      context.lineTo(centerX + 5, 10);
      context.stroke();
      context.fillText('Y', centerX - 15, 10);

      //Draw cells
      context.strokeStyle = 'grey';
      context.globalAlpha = 0.5;

      //Draw horizontal lines (rows)
      for(let i = tickMinY; i<=tickMaxY; i++){
        const yPosition = centerY - i * yTickSpacing;
        context.beginPath();
        context.moveTo(0, yPosition);
        context.lineTo(canvas.width, yPosition);
        context.stroke();
      }

      //Draw vertical lines (columns)
      for(let j = tickMinX; j<=tickMaxX; j++){
        const xPosition = centerX + j * xTickSpacing;
        context.beginPath();
        context.moveTo(xPosition, 0);
        context.lineTo(xPosition, canvas.height);
        context.stroke();
      }
      [this.cellSize.width, this.cellSize.height] = [xTickSpacing, yTickSpacing] 
      context.globalAlpha = 1.0;
    },
  }
}
</script>
  <style scoped>
.lab_work03{
    margin-left: 15rem;
    height: 100vh;
    flex-direction: column;
    place-items: center;
    background-color: #FFE5FB;
  }
  .work_map_lab_03{
    background-color: #FFD0F8;;
    width: 1000px;
    height: 670px;
    border-radius: 18px;
    top: 50px;
    left: 100px;
    position: relative;
  }

  .work_map_lab_03 p {
    font-family: "Poppins", sans-serif;
    position: absolute;
    width: 240px;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0;
  }

  .work_map_lab_03 input {
    font-family: "Poppins", sans-serif;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    height: 30px;
    width: 50px;
    padding: 10px;
    top: 0;
    left: 270px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .work_map_lab_03 button {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 510px;
    width: 380px;
    height: 60px;
    left: 60px;
    font-weight: 400;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }

  .display {
    background-color: white; /* You can change the background color for the fractal */
    border: 1px solid #ccc; /* Add a border for the fractal area */
    border-radius: 4px;
    height: 400px; /* Adjust the height as needed */
    display: flex;
    position: relative;    
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
    left: 500px;
    top: 40px;

  }
  
 
  .coordinate_container{
    top: 70px;
    color: black;
    left: 35px;
    width: 160px;
    height: 60px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;

  }
  .coordinate_container .text{
    margin-left: 10px;
    position: absolute;
    top: 15px;
  }
  .coordinate_container .input{
    position: absolute;
    left: 90px;
    top: 15px;
    width: 40px;
  }
  #A_x {
    left: 60px;
  }
  #A_y {
    left: 260px;
  }
  #B_x {
    top: 170px;
    left: 60px;
  }
  #B_y {
    top: 170px;
    left: 260px;
  }
  #C_x {
    top: 270px;
    left: 60px;
  }
  #C_y {
    top: 270px;
    left: 260px;
  }
  .linear_equation_container{
    top: 370px;
    color: black;
    left: 80px;
    width: 300px;
    height: 100px;
    padding: 10px;
    background: #EDC8FF; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
  }
  .text_header{
    left: 70px;
    top: 5px;
  }
  .y_text{
    left: 30px;
    top: 50px;
  }
  #a_input{
    left: 60px;
    top: 40px;
  }
  .x_text{
    left: 150px;
    top: 50px;
  }
  .plus_text{
    left: 175px;
    top: 49px;
  }
  #b_input{
    left: 200px;
    position: absolute;
    top: 50px;
  }
  .drawbutton{
    background-color: #7000FF;
  }
  .savebutton{
    margin-left: 475px;
    background-color: red;
  }
</style>