<template>
    <div>
      <Sidebar />
      <Lab02Component />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import Lab02Component from './Lab02Component.vue';
  
  export default {
    components: {
      Sidebar,
      Lab02Component
    }
  }
  </script>
  