<template>
    <div>
      <Sidebar />
      <Lab01Component />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import Lab01Component from './Lab01Component.vue';
  
  export default {
    components: {
      Sidebar,
      Lab01Component
    }
  }
  </script>
  