<template>
    <div>
      <Sidebar />
      <Lab03Component />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import Lab03Component from './Lab03Component.vue';
  
  export default {
    components: {
      Sidebar,
      Lab03Component
    }
  }
  </script>
  