<template>
  <div>
    <Sidebar />
    <MainPageComponent />
  </div>
</template>

<script>
import Sidebar from './Sidebar.vue';
import MainPageComponent from './MainPageComponent.vue';

export default {
  components: {
    Sidebar,
    MainPageComponent
  }
}
</script>
