<template>
  <div class = "main_page">
    <div class = "top_logo_container">
        <img class = "main_page_logo" src="../assets/images/mainpage_icons/logo.png">
        <p class="logo_text">GraphicsLab</p>           
    </div>
    <div class = "lab_containers1">
      <div class = "lab_container" id = 'lab_1' source>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/Fractals_Icon.png>
        <div class = "lab_container_text" > 
          <router-link class="container_header_text" to="/Lab01Page">Fractals</router-link>
          <p class="container_body_text">Сonstruction of Vicsek and Newton's fractal</p>
        </div>
      </div>
      <div class = "lab_container" id = 'lab_2'>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/ColorModels_Icon.png>
        <div class = "lab_container_text"> 
          <router-link class="container_header_text" to="/Lab02Page">Color Models</router-link>
          <p class="container_body_text">CMYK and HSL color models</p>
        </div>
      </div>
      <div class = "lab_container" id = 'lab_3'>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/Transformations_Icon.png>
        <div class = "lab_container_text"> 
          <router-link class="container_header_text" to="/Lab03Page">Transformations</router-link>
          <p class="container_body_text">The movement of the parallelogram introduced by its three vertices</p>
        </div>
        </div>
       </div>
    <div class = "lab_containers2">
      <div class = "lab_container" id = 'lab_4'>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/Materials_Icon.png>
        <div class = "lab_container_text"> 
          <router-link class="container_header_text" to="/Materials">Materials</router-link>
          <p class="container_body_text">Learn more about computer graphics</p>
        </div>
      </div>
      <div class = "lab_container" id = 'tests'>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/Tests_Icon.png>
        <div class = "lab_container_text"> 
          <router-link class="container_header_text" to="/Tests">Tests</router-link>
          <p class="container_body_text">Test your knowledge</p>
        </div>
      </div>
      <div class = "lab_container" id = 'help'>
        <img class = "lab_container_icon" src = ../assets/images/mainpage_icons/Help_Icon.png>
        <router-link class="container_header_text" to="/Help">Help</router-link>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  
};
</script>

<style scoped>
.main_page{
  margin-left: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #FFE5FB;
}
.top_logo_container {
    padding: 10px 0;
    display: grid; 
    grid-template-columns: auto auto; 
    gap: 10px; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}
.main_page_logo{
    width: 100px;
}
.logo_text {
  color: #7000FF;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lab_containers1{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  height: 14rem;
  place-items: center;
  margin-top: 30px;
}
.lab_containers2{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  height: 14rem;
  margin-top: 20px;
}
.lab_container{
  transition: all .2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 14rem;
  background: #FFD0F8;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.lab_container:hover{
  background: #EDB2FC;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
  
.lab_container_icon{
  width: 100px;
  height: 100px;
}
.lab_container_text{
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.container_header_text{
  color: #1F2B6C;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  text-decoration: none;
}
.container_body_text{
  color: #7000FF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 300px;
  margin-top:10px;
}

</style>
