<template>
  <div class="lab_work04">
    <div class="switcher-container">
      <button
        :class="{ active: selectedOption === 'option1' }"
        @click="selectOption('option1')"
      >
        Fractals
      </button>
      <button
        :class="{ active: selectedOption === 'option2' }"
        @click="selectOption('option2')"
      >
        Color Models
      </button>
      <button
        :class="{ active: selectedOption === 'option3' }"
        @click="selectOption('option3')"
      >
        Transformations
      </button>
    </div>

    <div class="work_map_lab_04" ref="work_map_lab_04">
      <div v-if="selectedOption === 'option1'">
        <div class="news-row">
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WFtTdf3I6Ug?si=Y492uHENySSmDddh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
            <h2>What is Fractal?</h2>
            <p class="news-content">
              In mathematics, a fractal is a geometric shape containing detailed structure at arbitrarily small scales, usually having a fractal dimension strictly exceeding the topological dimension. Many fractals appear similar at various scales, as illustrated in successive magnifications of the Mandelbrot set.</p>
            <a href="https://en.wikipedia.org/wiki/Fractal" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YGoJUTpEF6Y?si=Oo42Skg3mWdDl5V-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Viscek Fractal</h2>
            <p class="news-content">
              In mathematics the Vicsek fractal, also known as Vicsek snowflake or box fractal, is a fractal arising from a construction similar to that of the Sierpinski carpet, proposed by Tamás Vicsek. It has applications including as compact antennas, particularly in cellular phones.</p>
            <a href="https://en.wikipedia.org/wiki/Vicsek_fractal" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sK5sPHGt2Jg?si=aCKuS0ITMyJf5P3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            
            <h2>Newton fractal</h2>
            <p class="news-content">
              The Newton fractal is a boundary set in the complex plane which is characterized by Newton's method applied to a fixed polynomial p(Z) ∈ ℂ[Z] or transcendental function. It is the Julia set of the meromorphic function z ↦ z − p(z)/p′(z) which is given by Newton's method.</p>
            <a href="https://en.wikipedia.org/wiki/Newton_fractal" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7D7C7mADTYI?si=T5SRo6hd4gsekVhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>Self-similarity</h2>
            <p class="news-content">
              In mathematics, a self-similar object is exactly or approximately similar to a part of itself (i.e., the whole has the same shape as one or more of the parts). Many objects in the real world, such as coastlines, are statistically self-similar: parts of them show the same statistical properties at many scales.
            </p>
            <a href="https://en.wikipedia.org/wiki/Self-similarity" target="_blank">Read more</a>
          </div>
        </div>
      </div>

      <div v-else-if="selectedOption === 'option2'">
        <div class="news-row">
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-b2pAEHEQZc?si=tKtAOPcuTlgb-lSa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>What is Color Model?</h2>
            <p class="news-content">
              A color model is an abstract mathematical model describing the way colors can be represented as tuples of numbers, typically as three or four values or color components. When this model is associated with a precise description of how the components are to be interpreted (viewing conditions, etc.), taking account of visual perception, the resulting set of colors is called "color space."            </p>
            <a href="https://en.wikipedia.org/wiki/Color_model" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/a3GwNkUABM4?si=qiIHHX-8XUwTe76k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>RGB</h2>
            <p class="news-content">
              The RGB colour model is an additive color model in which the red, green and blue primary colors of light are added together in various ways to reproduce a broad array of colors. The name of the model comes from the initials of the three additive primary colors, red, green, and blue.
            </p>
            <a href="https://en.wikipedia.org/wiki/RGB_color_model" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dify3sEh11Y?si=kM1NFvzfo1b8Wtz6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>CMYK</h2>
            <p class="news-content">
              The CMYK color model (also known as process color, or four color) is a subtractive color model, based on the CMY color model, used in color printing, and is also used to describe the printing process itself. The abbreviation CMYK refers to the four ink plates used: cyan, magenta, yellow, and key (black).            </p>
            <a href="https://en.wikipedia.org/wiki/CMYK_color_model" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ceur-ARJ4Wc?si=qm7V8bIMApxLBpOx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>HSL and HSV</h2>
            <p class="news-content">
              HSL (for hue, saturation, lightness) and HSV (for hue, saturation, value; also known as HSB, for hue, saturation, brightness) are alternative representations of the RGB color model, designed in the 1970s by computer graphics researchers. In these models, colors of each hue are arranged in a radial slice, around a central axis of neutral colors which ranges from black at the bottom to white at the top.            </p>
            <a href="https://en.wikipedia.org/wiki/HSL_and_HSV" target="_blank">Read more</a>
          </div>
        </div>
      </div>

      <div v-else>
        <div class="news-row">
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B1zCAibMcCM?si=rfM2El3nBx2b8C2y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>What is affine transformation?</h2>
            <p class="news-content">
              In Euclidean geometry, an affine transformation or affinity (from the Latin, affinis, "connected with") is a geometric transformation that preserves lines and parallelism, but not necessarily Euclidean distances and angles.
            </p>
            <a href="https://en.wikipedia.org/wiki/Affine_transformation" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c-iA43vPL9M?si=f3T1QWLvXkl78gNO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>Affine space</h2>
            <p class="news-content">
              In mathematics, an affine space is a geometric structure that generalizes some of the properties of Euclidean spaces in such a way that these are independent of the concepts of distance and measure of angles, keeping only the properties related to parallelism and ratio of lengths for parallel line segments. Affine space is the setting for affine geometry.            </p>
            <a href="https://en.wikipedia.org/wiki/Affine_space" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kYB8IZa5AuE?si=KLEyIPDoVOhHUdE1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>Linear transformation</h2>
            <p class="news-content">
            In mathematics, and more specifically in linear algebra, a linear map (also called a linear mapping, linear transformation, vector space homomorphism, or in some contexts linear function) is a mapping between two vector spaces that preserves the operations of vector addition and scalar multiplication. The same names and the same definition are also used for the more general case of modules over a ring; see Module homomorphism.            
            </p>
            <a href="https://en.wikipedia.org/wiki/Linear_map" target="_blank">Read more</a>
          </div>
          <div class="news-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yRwQ7A6jVLk?si=CxVXi-c893oj6R1b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>            <h2>What is Matrix?</h2>
            <p class="news-content">
              In mathematics, a matrix is a rectangular array or table of numbers, symbols, or expressions, arranged in rows and columns, which is used to represent a mathematical object or a property of such an object.
            </p>
            <a href="https://en.wikipedia.org/wiki/Matrix_(mathematics)" target="_blank">Read more</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      selectedOption: 'option1', 
    };
  },
  methods: {
    selectOption(option) {
      this.selectedOption = option;
    },
  },
});
</script>

<style scoped>
.lab_work04 {
  margin-left: 15rem;
  height: 100vh;
  flex-direction: column;
  place-items: center;
  background-color: #FFE5FB;
  font-family: "Poppins", sans-serif;
}

.switcher-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

button {
  flex: 1;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #6C63FF;
  border-radius: 5px;
  background-color: #FFE5FB;
  color: #6C63FF;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  height: 6vh;

}

button:hover {
  background-color: #EDC8FF;
  color: #fff;
}

button.active {
  background-color: #6C63FF;
  color: #fff;
  transform: scale(1.05); 
}
.news-row {
  max-height: 82vh; 
  overflow-y: auto;
  padding: 40px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.news-container {
  background-color: #EDC8FF;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px); 
  margin-bottom: 40px; 
}

.news-container img {
  width: 100%; 
  border-radius: 8px 8px 0 0;
  max-height: 18rem;
}
.news-container iframe {
  width: 100%;
  border-radius: 8px 8px 0 0;
  max-height: 18rem;
}

.news-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-container .news-content {
  font-size: 1rem;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 60px; 
  text-overflow: ellipsis; 
}

.news-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
</style>
