<template>
    <div>
      <Sidebar />
      <MaterialsComponent />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import MaterialsComponent from './MaterialsComponent.vue';
  
  export default {
    components: {
      Sidebar,
      MaterialsComponent
    }
  }
  </script>
  