<template>
    <div class="sidebar">
        <div class="sidebar_header">
            <!--<img id="sidebar_header_expandimg" src="../assets/images/sidebar_icons/Expand_Icon.png" alt="Close Sidebar">-->
            <div id="sidebar_header_logo">
                <p id="sidebar_header_logo_text">GraphicsLab</p>
            </div>
            <hr class="sidebar_divider">
        </div>
        <div id="sidebar_body">
            <div id="sidebar_body_items">
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Home_Page_Icon.png">
                    <router-link to="/">Home Page</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Fractals_Icon.png">
                    <router-link to="/Lab01Page">Fractals</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Lab2_Icon.png">
                    <router-link to="/Lab02Page">Color Models</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Lab3_Icon.png">
                    <router-link to="/Lab03Page">Transformations</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Materials_Icon.png">
                    <router-link to="/Materials">Materials</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Tests_Icon.png">
                    <router-link to="/Tests">Test</router-link>
                </div>
                <div class="sidebar_body_items_item">
                    <img src="../assets/images/sidebar_icons/Help_Icon.png">
                    <router-link to="/Help">Help</router-link>
                </div>
            </div>
            <div class="sidebar_body_contacts">
                <hr class="sidebar_divider">
                <div class="sidebar_body_contacts_contact-info">
                    <img src="../assets/images/sidebar_icons/Contacts_Icon.png" alt="Phone">
                    <div id="sidebar_body_contacts_contact-info_contancts">
                        <span id="sidebar_body_contacts_contact-info_contact-heading">Contacts</span>
                        <span class="sidebar_body_contacts_contact-info_phone-number">+38092054892</span>
                        <span class="sidebar_body_contacts_contact-info_phone-number">+38096264561</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Sidebar',
};
</script>

<style scoped>
.sidebar {
    width: 15rem;
    height: 100%;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #FFD0F8;
}

/*Sidebar header*/
.sidebar_header {
    text-align: right;
    height: 10.5vh;
    margin-bottom: 1.5vh;
}

#sidebar_header_expandimg {
    width: 25px;
    margin: 10px 10px 10px 0px;
}

#sidebar_header_expandimg:hover {
    cursor: pointer;
}

#sidebar_header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5vh;
}

#sidebar_header_logo_text {
    color: #1F2B6C;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    /*Change default values*/
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.sidebar_divider {
    border: 1px solid rgb(131, 129, 129, 0.5);
    margin-bottom: 2vh;
}

/*Sidebar body */

#sidebar_body {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
/*Sidebar items*/
.sidebar_body_items_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*width: 15vw;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5vh;
    transition: all .2s ease-in-out;

}

.sidebar_body_items_item:hover {
    background-color: #EDB2FC;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sidebar_body_items_item:hover a {
    color: white;
    transition: all .2s ease-in-out;

}

.sidebar_body_items_item a {
    color: #1F2B6C;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.5vw;
    transition: all .3s ease-in-out;
    text-decoration: none;
}   

.router-link-exact-active {
    color: #1F2B6C;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.5vw;
    transition: all .3s ease-in-out;
    text-decoration: none;
}

.sidebar_body_items_item img {
    width: 30px;
    height: 30px;
    margin-left: 1vw;
}

.router-link-active {
    font-weight: bold;
}

#sidebar_body_items{
    /*height: 65vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Sidebar Contacts*/
.sidebar_body_contacts_contact-info {
    display: flex;
    align-items: center;
}

.sidebar_body_contacts_contact-info img {
    width: 30px;
    height: 30px;
    margin-left: 2vw;
}

#sidebar_body_contacts_contact-info_contancts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

#sidebar_body_contacts_contact-info_contact-heading {
    color: #1F2B6C;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 10px;
}

.sidebar_body_contacts_contact-info_phone-number {
    color: #1F2B6C;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
</style>