<template>
    <div>
      <Sidebar />
      <TestsComponent />
    </div>
  </template>
  
  <script>
  import Sidebar from './Sidebar.vue';
  import TestsComponent from './TestsComponent.vue';
  
  export default {
    components: {
      Sidebar,
      TestsComponent
    }
  }
  </script>
  