<template>
  <div class="quiz-container">
    <div class="quiz-page">
      <div v-for="(question, index) in questions" :key="index" class="quiz-section">
        <h2>{{ question.text }}</h2>
        <div :class="{ 'no-answer-selected': showResult && !selectedAnswers[index] }">
          <div v-for="(answer, answerIndex) in question.answers" :key="answerIndex" class="answer-block">
            <label :class="{
              'correct-answer': showResult && answer === question.correctAnswer && selectedAnswers[index] === answer,
              'incorrect-answer': showResult && answer !== question.correctAnswer && selectedAnswers[index] === answer,
              'answer-selected': !showResult && selectedAnswers[index] === answer
            }">
              <input type="radio" :value="answer" v-model="selectedAnswers[index]" :disabled="showResult">
              {{ answer }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <button class="submit-button" @click="checkAnswers" :disabled="showResult" v-show="!showResult">Submit Answers</button>
    <button class="restart-button" @click="restartQuiz" :disabled="!showResult" v-show="showResult">Restart Quiz</button>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      questions: [
        {
          text: 'Which mathematical concept is used to create self-replicating patterns?',
          answers: ['Fractals', 'Color Models', 'Affine Transformations', 'Quaternions'],
          correctAnswer: 'Fractals',
        },
        {
          text: 'What is the RGB color model?',
          answers: ['Red-Green-Blue', 'Random-Gradient-Blend', 'Realistic-Graphic-Background', 'Radial-Gradient-Blur'],
          correctAnswer: 'Red-Green-Blue',
        },
        {
          text: 'What does an affine transformation do?',
          answers: ['Rotate', 'Scale', 'Translate', 'All of the above'],
          correctAnswer: 'All of the above',
        },
        // Add more questions as needed
      ],
      selectedAnswers: Array.from({ length: 3 }, () => null),
      showResult: false,
      results: [],
    };
  },
  methods: {

    checkAnswers: function () {
      this.showResult = true;
      this.results = this.questions.map((question, index) => {
        return this.selectedAnswers[index] === question.correctAnswer
          ? `Question ${index + 1}: Correct!`
          : `Question ${index + 1}: Incorrect. The correct answer is ${question.correctAnswer}.`;
      });
    },
    restartQuiz: function () {
      this.selectedAnswers = Array.from({ length: this.questions.length }, () => null);
      this.showResult = false;
      this.results = [];
    },
  },
});
</script>

<style scoped>
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin-left: 15rem;
  font-family: "Poppins", sans-serif;
  background-color: #FFE5FB;
}

.quiz-page {
  max-width: 700px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow-y: auto;
  margin-top: 20px; 
}

h2 {
  color: #6C63FF;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.no-answer-selected .answer-block label {
  background-color: #e0e0e0; 
}

.answer-block {
  margin: 10px 0px;
}

label {
  display: block;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

input {
  margin-right: 5px;
  cursor: pointer;
}

label:not(.answer-selected):hover {
    background-color: #FFE5FB;
  }

.correct-answer {
  background-color: #8ED081; 
}

.incorrect-answer {
  background-color: #FF8A80;
}

.submit-button {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  background-color: #6C63FF;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: #4f4caf;
}

.restart-button {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  background-color: #FF6B6B;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.answer-selected {
  background-color: #FFD0F8;
}
.restart-button:hover {
  background-color: #FF5252;
}
</style>

