<template>
  <div id="app">
    <router-view></router-view> <!-- This will render the component based on the current route -->
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
/* Your styles here */
</style>
